# AWS Cognito Configuration
VITE_COGNITO_DOMAIN=your-domain
VITE_COGNITO_REGION=us-east-1
VITE_COGNITO_CLIENT_ID=XXXX
VITE_COGNITO_REDIRECT_URI=http://localhost:3000/callback
VITE_COGNITO_SCOPES=openid+email+profile

# Backend API (optional) 
VITE_API_URL=http://localhost:5000
